*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #1D2D50
}

.wrapper {
    padding: 1%;
    width:80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
    color: #FCDAB7;
}
.tbl-30{
    width:30%;
    color: #FCDAB7;
}

table tr th{
    border-bottom: 1px solid #FCDAB7;
    padding:1%;
    text-align:left;
}
table tr td{
    padding:1%; 
}
.btn-primary{
    background-color:#2d72a0;
    padding:1%;
    color:black;
}
.btn-primary:hover{
    background-color:#B1D0E0
}
.btn-secondary{
    background-color:#16C79A;
    padding:1%;
    color:black;

}
.btn-secondary:hover{
    background-color:#58B368; 
}

.btn-danger{
    background-color:#FF6B6B;
    padding:1%;
    color:black;

}
.btn-danger:hover{
    background-color:#B61919; 
}


/* Menu css */
.menu{
    text-align: center;
    border-bottom: 1px solid #FCDAB7;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #FCDAB7;
}
.menu ul li a:hover{
    color: #1E5F74;
}

/*main content css */
.main-content{
    background-color: #073051;
    color: #FCDAB7;
    padding: 3% 0;
}
.col-4{
    width:18%;
    background-color: #1D2D50;
    margin:1%;
    padding:2%;
    border : 1px solid #FCDAB7;
    float:left;
}





/* footer css */
.footer{
    background-color:#FCDAB7;
    color: #1D2D50;
}